html, body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display:flex;
    flex-direction:column;
    align-items:center;
}

ul li{
    list-style-type: none;
    margin:10px;
}

li{
    display:flex;
    flex-direction:row;
}

ul li.complete{
    text-decoration: line-through;
    color:gray;
}

.task{
    width:180px;
    cursor: pointer;
}

.done{
    margin-left:10px;
    background-color:#4CA64C;
    border:none;
    padding:6px;
    text-decoration:none;
    cursor:pointer;
    border-radius:5px;
}
.unDone{
    margin-left:10px;
    background-color:gray;
    border:none;
    padding:6px;
    text-decoration:none;
    cursor:pointer;
    border-radius:5px;
}
.delete{
    margin-left:10px;
    background-color:#FF3232;
    border:none;
    padding:6px;
    text-decoration:none;
    cursor:pointer;
    border-radius:5px;
}

.cadre{
    border:1px solid #FF4703;
    width:25%;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius: 15px 50px;
    padding: 20px;
}

.add{
    background-color:#FF4703;
    border:none;
    padding:5px;
    text-decoration:none;
    cursor:pointer;
    width:50px;
    border-radius:5px;
}
input[type=text]{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width:50%;
}
.enterTask{
    width:100%;
    text-align:center;
    margin-left:10px;
}
ul{
    padding-left:10px;
}